<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" background-color:>
{% load static %}
        <link rel="stylesheet" href="{% static 'page1/restyle.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'page1/color.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'page1/color.js' %}" type="text/js">

</head>
<body>
<br><br>
<p><b>worker:</b>
	


	{% for cat in ca %}
<a href="{% url 'identity' cat.id %}" class="bala" style="color:inherit">{{cat.cat}}<div class="col" style="color:inherit">

{% endfor %}


</body>
</html>