{% extends 'base.html'%}
    {% block head %}
        <title>edit profile</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'page1/restyle.css' %}" type="text/css">
        
    {% endblock %}
    {% block body %}
    <br>
    <br>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">submit</button>
            </form>
        </div>
    {% endblock %}