{% extends 'base.html'%}


<html>
    <head>
        {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'page1/color.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'page1/color.js' %}" type="text/js">
        {% endblock %}
    </head> 
    <body>
        
    {% block body %}
    <div class="login-page">
    <div class="form">
    
      <form>

        <h1 class="message">YOU HAVE LOGGED OUT SUCCESSFULLY!!!</h1>

      </form>
    </div>
    </div>
    {% endblock %}
  </body>
</html>